{% extends 'base.html.twig' %}

{% block title %}Date Info Form{% endblock %}

{% block body %}
    {% if app.flashes('error') %}
        <div class="alert alert-danger">
            {% for flash in app.flashes('error') %}
                <p>{{ flash }}</p>
            {% endfor %}
        </div>
    {% endif %}

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <div>
            <button type="submit">Submit</button>
        </div>
    {{ form_end(form) }}
{% endblock %}